.Monte{
    width: 200px;
    height: 200px;
    background-image: url(img/1.jpg);
    background-size: cover;
}
.Vazgen{
    width: 200px;
    height: 200px;
    background-image: url(img/2.jpeg);
    background-size: 100% 100%;
}
.Miaynak{
    width: 200px;
    height: 200px;
    background-image: url(img/3.png);
    background-size: cover;
}
.Melqonyan{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.real{
    text-align: center;
}
.a1:hover{
    transition:1s ;
    font-size: 11px;
    color: black;
    text-decoration: none;
}
